/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

h2 {
  color: #555;
}

.category-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #2980b9;
}

.slick-slider {
  width: 100%;
  margin: 20px 0;
}

.slick-prev, .slick-next {
  font-size: 36px;
  border-width: 20px;
  color: #333;

}

.slick-prev:hover, .slick-next:hover {
  color: #3498db;
}


.random-joke {
  margin-top: 20px;
}

/* styles.css */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .slick-slider {
    margin: 10px 0;
  }
}
